.git
.gitignore
.env
.env.*
!.env.example

node_modules
npm-debug.log
yarn-error.log

vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore

tests
.idea
.vscode
.phpunit.result.cache
*.md
!README.md